node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Local Netlify folder
.netlify

# oh-my-claudecode
.omc

# Prisma
dev.db
dev.db-journal
/src/generated
.gstack/
